footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #333;
  font-family: "Fira Mono", monospace;
  font-size: 10pt;

  #version,
  #server-status {
    padding: 0 15px;
  }

  #version {
    color: lightgray;
    div {
      line-height: 1;
    }
  }

  #server-status {
    margin-left: auto;
  }

  .offline:after {
    color: red;
    content: "offline";
  }

  .online:after {
    color: lime;
    content: "online";
  }

  .ping:after {
    color: lightgray;
    content: "ping...";
  }

  .undefined {
    color: lightgray;
    content: "undefined";
  }
}
